.section-about {
  height: 60vh;
  display: flex;
  .containers-about {
    flex-grow: 1;
  }
  .about-list {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    font-size: 22px;
  }

  .about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-paragraph {
    margin: 30px 0px;
    max-width: 300px;
    font-family: $thirdFont;
    font-size: 16px;
    font-weight: 300;
  }

  .btn {
    font-size: 16px;
    padding: 10px 30px;
    background-color: transparent;
    color: $thirdColor;
    border: none;
    border: 3px solid $sixthColor;
    border-radius: 10px;
    transition: all 1s;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 8px $secondaryColor;
      border-color: $secondaryColor;
      transform: scale(1.03);
    }
  }
}