.section-qualification {
  display: flex;
  flex-wrap: wrap;
  font-family: $thirdFont;
  .timeline-area {
    margin: 0px 0px 45px;
    border-left: 2px solid $thirdColor;
    padding: 0 20px 0 30px;
    flex-grow: 1;

    ul {
      height: 75vh;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    li {
      position: relative;
    }

    .timeline-marker:before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #000;
      border: 3px solid #ddd;
      position: absolute;
      top: 10px;
      left: -38px;
      font-weight: 100;
    }

    .timeline-item {
      background-color: $fifthColor;
      padding: 10px 25px;
      line-height: 1.7;
      transition: all 1s;
      font-weight: 100;
      display: flex;

      &:focus {
        background-color: $secondaryColor;
      }
    }

    h2 {
      font-weight: 300;
    }

    h3 {
      font-weight: 200;
    }

    h4 {
      font-weight: 100;
    }
  }

  .timeline-content {
    width: 250px;
  }

  .timeline-description {
    padding: 8px 10px;
    flex-grow: 40;
    max-width: 755px;
  }

  .timeline-download {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timeline-button {
    background-color: transparent;
    color: $thirdColor;
    border: none;
    border: 3px solid $sixthColor;
    border-radius: 15px;
    padding: 15px;
    transition: all 1.5s;

    &:hover {
      cursor: pointer;
      color: $thirdColor;
      border-color: $secondaryColor;
      box-shadow: 0px 0px 8px $secondaryColor;
    }
  }
}
