* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $primaryColor;
  font-family: $primaryFont;
  color: $thirdColor;
}

a {
  text-decoration: none;
  color: $thirdColor;
}

main {
  padding: 0px 120px;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  height: 120px;
  font-family: $thirdFont;
  font-size: 30px;
  font-weight: 300;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
}