$primaryColor: #13130f;
$secondaryColor: #2726fe;
$thirdColor: #faf8f4;
$fourthColor: #4a4a49;
$fifthColor: #1d1d1d;
$primaryFont: "Cormorant", serif;
$secondaryFont: "Crimson Text", serif;
$thirdFont: "Roboto", sans-serif;