---

---

<hr />

<h2 id="About" class="title">About</h2>

<section class="section-about">
  <div class="containers-about">
    <ul class="about-list">
      <li class="about-listItem">Pedro Campos &#129489</li>
      <li class="about-listItem">Sports &#127939</li>
      <li class="about-listItem">Goals &#127919</li>
      <li class="about-listItem">
        <a href="https://drive.google.com/file/d/1Day_Cp1T5BoODXwz-_nNfYmuRS_wQwkM/view?usp=drive_link">
          <button class="btn">Check CV</button>
        </a>
      </li>
    </ul>
  </div>
  <div class="containers-about">
    <div class="about-box">
      <p class="about-paragraph">
        Since 2020, I've been fascinated by web development, particularly the
        challenge of crafting efficient solutions to complex problems. In one of
        my projects, I built a weather app that showcased my ability to: Work
        with APIs, Build user interfaces, Problem-solve.
      </p>

      <p class="about-paragraph">
        Outside of work, I joy to practise some activities like cycling and
        volleyball. These activities allow me to clear my head and return to
        projects with fresh perspectives.
      </p>
    </div>
  </div>
  <div class="containers-about">
    <div class="about-box">
      <p class="about-paragraph">
        Contribuing to a fast-paced, collaborative team is crucial step in my
        journey to became a valuable developer. My main goal now is learning
        from experienced professionals to improve my skills in problem-solving,
        communication and logic.
      </p>

      <p class="about-paragraph">
        I'm excited to connect with teams looking for a passionate and quick
        learner who thrives in collaborative environments. Let's discuss how I
        can contribute to your success!
      </p>
    </div>
  </div>
</section>
