---

---

<hr />

<h2 id="About" class="title">About</h2>

<section class="section-about">
  <div class="containers-about">
    <ul class="about-list">
      <li class="about-listItem">
        Web Developer <i class="bi bi-code-slash"></i>
      </li>
      <li class="about-listItem">Sports &#127939</li>
      <li class="about-listItem">Hobby &#129513</li>
      <li class="about-listItem">Resume &#128221</li>
    </ul>
  </div>
  <div class="containers-about">
    <div class="about-box">
      <p class="about-paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A quo, deserunt
        eaque quis natus, enim eligendi pariatur voluptatibus numquam nostrum
        culpa vitae, omnis maxime minima quidem voluptas dolore debitis illum!
      </p>
  
      <p class="about-paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consequatur
        porro quaerat perferendis possimus, voluptates facere dolorem sequi vel
        dignissimos, rem dolores? Harum, labore veniam praesentium sunt distinctio
        aliquid eum.
      </p>
    </div>
  </div>
  <div class="containers-about">
    <div class="about-box">
      <p class="about-paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A quo, deserunt
        eaque quis natus, enim eligendi pariatur voluptatibus numquam nostrum
        culpa vitae, omnis maxime minima quidem voluptas dolore debitis illum!
      </p>
  
      <p class="about-paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consequatur
        porro quaerat perferendis possimus, voluptates facere dolorem sequi vel
        dignissimos, rem dolores? Harum, labore veniam praesentium sunt distinctio
        aliquid eum.
      </p>
    </div>
  </div>
</section>
