---

---

<hr />

<h2 id="Experience" class="title">Experience</h2>
<section class="section-experience">
  <div class="timeline-area">
    <ul>
      <li>
        <div class="timeline-marker"></div>
        <div class="timeline-item">
          <div class="timeline-content">
            <h2>Cornerstone College</h2>
            <h3>Web development</h3>
            <h4>2023 - present</h4>
          </div>
          <div class="timeline-description">
            <p>Hello world!</p>
          </div>
          <div class="timeline-download">
            <button class="timeline-button">Download certificate</button>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-marker"></div>
        <div class="timeline-item">
          <div class="timeline-content">
            <h2>Prog BR</h2>
            <h3>Web Full Stack (online)</h3>
            <h4>2023 - 2023</h4>
          </div>
          <div class="timeline-description">
            <p>Hello world!</p>
          </div>
          <div class="timeline-download">
            <button class="timeline-button">Download certificate</button>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-marker"></div>
        <div class="timeline-item">
          <div class="timeline-content">
            <h2>ITTTI Vancouver</h2>
            <h3>English Advanced certificate</h3>
            <h4>2023 - 2023</h4>
          </div>
          <div class="timeline-description">
            <p>Hello world!</p>
          </div>
          <div class="timeline-download">
            <button class="timeline-button">Download certificate</button>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-marker"></div>
        <div class="timeline-item">
          <div class="timeline-content">
            <h2>Etec de Cubatão</h2>
            <h3>high-school</h3>
            <h4>2020 - 2022</h4>
          </div>
          <div class="timeline-description">
            <p>Hello world!</p>
          </div>
          <div class="timeline-download">
            <button class="timeline-button">Download certificate</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>