---

---

<header class="header">
  <a href="https://github.com/PhFernandesMc?tab=overview&from=2024-02-01&to=2024-02-04" target="_blank">
  <div class="header-left">
      <i class="bi bi-github"></i>
      <h1>Pedro C.</h1>
    </div>
  </a>
  <div class="header-right">
    <ul class="header-list">
      <a href="#About">
        <li class="header-listItem">About<div class="line"></div></li>
      </a>
      <a href="#Skill">
        <li class="header-listItem">Skills<div class="line"></div></li>
      </a>
      <a href="#qualification">
        <li class="header-listItem">qualification<div class="line"></div></li>
      </a>
      <a href="#Projects">
        <li class="header-listItem">Projects<div class="line"></div></li>
      </a>
      <a href="#Contact">
        <li class="header-listItem">Contact<div class="line"></div></li>
      </a>
    </ul>
  </div>
</header>