---
import { Image } from 'astro:assets'
import LegoPicture from '../../public/images/pedro_lego.jpeg'
---

<section class="section-HelloWorld">
  <div class="container-left">
    <div class="container-leftMessage">
      <h2>Hi, I'm Pedro.</h2>
      <p>
        A brazilian &#128075 web developer who likes to build web sites &#128187
        and do sports &#127947
      </p>
    </div>
  </div>
  <div class="container-right">
    <Image src={LegoPicture} alt="" class="image" />
  </div>
</section>
