---
import { Image } from "astro:assets";
import LegoPicture from "./images/pedro_lego.jpeg";
import linkedin from "./images/linkedin-icon-3.svg";
---

<section class="section-HelloWorld">
  <div class="container-left">
    <div class="container-leftMessage">
      <h2>Hi, I'm Pedro.</h2>
      <p>
        A Brazilian &#128075 junior web developer who likes to build web sites &#128187
        and do sports &#127947
      </p>
    </div>
  </div>
  <div class="container-right">
    <Image src={LegoPicture} alt="Lego Pedro" class="image" />
  </div>
</section>
<div class="footer">
  <a
    href="https://www.linkedin.com/in/pedro-henrique-fernandes-mendes-de-campos-9145732b3/"
    target="_blank"
  >
    <div>
      <Image src={linkedin} alt="linkedin" class="image" />
    </div>
  </a>
  <div>
    <p>&#128064 Looking for job</p>
  </div>
</div>
