---

---

<hr />

<h2 id="qualification" class="title">qualification</h2>
<section class="section-qualification">
  <div class="timeline-area">
    <ul>
      <li>
        <div class="timeline-marker"></div>
        <div class="timeline-item">
          <div class="timeline-content">
            <h2>Cornerstone College</h2>
            <h3>Web development</h3>
            <h4>2023 - present</h4>
          </div>
          <div class="timeline-description">
            <p>
              My time at Cornerstone has been instrumental in expanding my web
              development knowledge. I've gained valuable experience with
              diverse technologies like TypeScript, Bootstrap, Git, Astro,
              jQuery, and SCSS. Looking ahead, I'm eager to delve into React and
              Node.js, further solidifying my skillset.
            </p>
          </div>
          <div class="timeline-download">
            <!-- <button class="timeline-button">Download certificate</button> -->
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-marker"></div>
        <div class="timeline-item">
          <div class="timeline-content">
            <h2>Prog BR</h2>
            <h3>Web development (online)</h3>
            <h4>2023 - 2023</h4>
          </div>
          <div class="timeline-description">
            <p>
              I am a passionate web developer with a foundation in HTML5, CSS3,
              and JavaScript. I began my journey by taking an online course
              where I built interactive projects like a calculator, memory game,
              and Tic-Tac-Toe.
            </p>
          </div>
          <div class="timeline-download">
            <a
              href="https://drive.google.com/file/d/1gZteRce4AiD_yNSbujxfh7bwKQQy1qyy/view?usp=drive_link"
            >
              <button class="timeline-button">Check certificate</button>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-marker"></div>
        <div class="timeline-item">
          <div class="timeline-content">
            <h2>ITTTI Vancouver</h2>
            <h3>English Advanced certificate</h3>
            <h4>2023 - 2023</h4>
          </div>
          <div class="timeline-description">
            <p>
              Seeking to elevate my communication and propel my career in the
              global IT landscape, I immersed myself in an English-speaking
              environment at ITTTI. This empowered seamless collaboration and
              equipped me with the advanced skills I desired.
            </p>
          </div>
          <div class="timeline-download">
            <a
              href="https://drive.google.com/file/d/1j_Ta9ig-nzoIG20f804eKL7w2s9wrqNA/view?usp=drive_link"
            >
              <button class="timeline-button">Check certificate</button>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-marker"></div>
        <div class="timeline-item">
          <div class="timeline-content">
            <h2>Etec de Cubatão</h2>
            <h3>high-school</h3>
            <h4>2020 - 2022</h4>
          </div>
          <div class="timeline-description">
            <p>
              My high school's integrated logistics program ignited my interest
              in supply chains. The acquired skills in resource allocation and
              communication proved valuable in IT, aiding data flow
              optimization, server infrastructure management, and seamless team
              collaboration.
            </p>
          </div>
          <div class="timeline-download">
            <a
              href="https://drive.google.com/file/d/1QSZ6AZ0Qb6HMeh9wUz_cU4O77xps-1L5/view?usp=drive_link"
            >
              <button class="timeline-button">Check certificate</button>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>